.SQLPage {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
}
.image-sql{
    margin-bottom: 3rem;
}
.custom-nav {
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.201); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.325); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.241); 
}

.nav-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
}

.nav-list,
.sub-list,
.sub-sub-list {
    list-style-type: none;
    padding-left: 1rem;
}

.nav-list > li {
    margin-bottom: 0.5rem;
}

.nav-link,
.sub-link,
.sub-sub-link {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover,
.sub-link:hover,
.sub-sub-link:hover {
    text-decoration: underline;
    color: #0788e4;
}

.sub-list {
    margin-top: 0.5rem;
}

.sub-sub-list {
    margin-top: 0.3rem;
}

.sub-list li,
.sub-sub-list li {
    margin-bottom: 0.3rem;
}

.sub-sub-link {
    font-size: 0.9rem;
}

#case-when,
#criacao-instancia,
#joins,
#views,
#indices-sql,
#mysql-sql-server,
#referencias {
    margin: 5% 0 2.5%;
}

.licenciamento-custo {
    margin: 2.5% 0 5%;
}

.indices-sql {
    margin: 2.5% 0 5%;
}
.code-container {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.copy-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.copy-button:hover {
    background-color: #45a049;
}

.code-block {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 50px 20px 50px 30px;
    border-radius: 8px;
    font-family: "Fira Code", monospace;
    line-height: 1.5;
    overflow-x: auto;
    white-space: pre;
    width: 100%;
    box-sizing: border-box;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    z-index: 1000;
    opacity: 0.9;
}
.line-container {
    display: flex;
    align-items: flex-start; 
    margin: 20px 0; 
}

.vertical-line {
    width: 2px; 
    height: 3.3em; 
    background-color: #ffffff;
    margin-right: 10px;
}

.text-content {
    font-style: italic; 
}

.dark-mode-sql {
    background-color: #141414;
}

.dark-mode-sql .SQLPage {
    color: white;
}