.section-title-container {
    margin: 0;
}

.section-title-content {
    display: flex;
    align-items: center;
}

.resume-section-title {
    color: black;
    font-size: 20px;
    margin-right: 20px;
}

.line-section {
    height: 3px;
    background-image: linear-gradient(90deg, rgba(64, 1, 145, 1) 0%, rgba(151, 71, 255, 1) 100%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: width 1s ease-in-out;
    flex-grow: 1;
}


.dark-mode-section-title .line-section {
    background-image: linear-gradient(90deg, rgba(151, 71, 255, 1) 0%, rgba(201, 159, 255, 1) 100%);
    ;
}