@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.div-container-contact {
  font-family: Arial;
  text-align: justify;
}

.talk-me-container {
  position: relative;
  overflow: hidden;
  padding: 120px;
  background: rgb(101, 101, 101);
  background: linear-gradient(90deg, rgba(101, 101, 101, 1) 6%, rgba(156, 156, 156, 1) 59%, rgba(255, 255, 255, 1) 93%);
  font-family: "Poppins", sans-serif;
}
.video-background {
  position: relative;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 30px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
}

.email-icon {
  font-size: 30px;
}

.email-text {
  font-size: 14px;
  margin: 0;
}

.contact h6 {
  font-family: Arial;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.contact a {
  color: black;
  display: flex;
  align-items: center;
}

.click-here h6 {
  font-family: Arial;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 35px;
  font-family: "Poppins", sans-serif;
}

.click-here ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.click-here ul li {
  display: flex;
  font-size: 25px;
}

.click-here ul li a {
  text-decoration: none;
  color: black;
}

.input-email-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
}

.teste {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  margin-bottom: 10px;
}

.teste1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.input-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-email {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: #353535;
}

.input-subject {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 60px;
  border: solid 1px rgba(0, 0, 0, 0.144);
  margin-bottom: 13px;
  margin-top: 10px;
}

.textarea {
  width: 60%;
  height: calc(3 * 52px + 27px); /* 3 input heights + gaps */
  resize: none;
  text-align: start;
  font-family: "Poppins", sans-serif;
  padding: 12px;
  padding-bottom: 30px;
  padding-left: 20px;
  border: solid 1px rgba(0, 0, 0, 0.144);
  margin-top: 10px;
  overflow: auto;
  margin-left: 20px;
}

.button-send {
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 0;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  padding: 20px;
}

.button-send:hover {
  background-color: rgb(245, 245, 245);
}

.text-talk-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.text-talk {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial;
  color: rgba(0, 0, 0, 0.71);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.text-talk button {
  width: 100%;
  background-color: white;
  border: 2px solid black;
  border-radius: 0;
  padding: 5px 40px 5px 40px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.text-talk button:hover {
  background-color: rgb(245, 245, 245);
}

.dark-mode-contact {
  background-color: #141414;
}

.dark-mode-contact .talk-me-container {
  color: white;
}

.dark-mode-contact .contact-container .contact h6,
.dark-mode-contact .click-here h6 {
  color: white;
}
.dark-mode-contact .contact-container .contact a,
.dark-mode-contact .click-here ul li a {
  color: white;
}

.dark-mode-contact .text-talk-container .text-talk {
  color: rgba(255, 255, 255, 0.707);
}

.dark-mode-contact .input-email-container .input-email input,
.dark-mode-contact .input-email-container .input-email textarea,
.dark-mode-contact .input-email-container .input-email .button-send,
.dark-mode-contact .text-talk-container .text-talk button {
  color: rgb(255, 255, 255);
  background-color: #141414;
  border: solid 1px rgba(255, 255, 255, 0.397);
}

.dark-mode-contact .talk-me-container {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(66, 66, 66, 1) 83%);
}
.dark-mode-contact .input-email-container .input-email .title-email {
  color: rgb(134, 134, 134);
}
.dark-mode-contact .input-email-container .input-email .button-send:hover,
.dark-mode-contact .text-talk button:hover {
  background-color: #1f1f1f;
}

@media (max-width: 768px) {
  .video{
    height: 0px;
  }

  .teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .teste textarea {
    margin-left: 0;
    width: 100%;
  }

}