@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.home-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: -1;
}

.text-and-image-container {
  display: flex;
  text-align: justify;
  width: 80%;
  margin-left: 4%;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.content-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 15px;
}

.icons-container {
  display: flex;
  flex-direction: column;
}

.icons-container ul {
  list-style: none;
  padding: 0;
}

.icons-container ul li {
  font-size: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.icons-container ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.icons-container ul li:hover {
  transform: scale(1.2);
}

.button-container button:hover {
  background-color: #ebebeb;
}

.image-container {
  opacity: 0;
  transition:
    opacity 1.5s ease-in-out,
    top 1s ease-in-out;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.image-container.active {
  opacity: 1;
  top: 10%;
}

.image-container img {
  width: 85%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: width 0.3s ease;
  margin-top: 80%;
  margin-bottom: 30px;
}
.centered-image:hover {
  width: 90%;
  cursor: pointer;
}
.frontend-images img {
  margin-right: 20px;
}
.projects-content-home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  margin-top: 20px;
}

.card-projects {
  margin-bottom: 20px;
}

.text-projects {
  margin: 80px 20px;
}

.text-projects h2 {
  margin-bottom: 20px;
}
.dashboard-projects {
  display: flex;
  flex-direction: row;
}

.text-description {
  margin-top: 20%;
  margin-left: 13%;
  max-width: 500px;
  flex: 1;
}
.text-description p {
  color: #141414;
  text-align: justify;
  font-size: 20px;
  margin: 0;
}

.dark-mode-home {
  background-color: #141414;
}

.dark-mode-home .text-and-image-container {
  color: white;
}
.dark-mode-home .typewriter {
  color: white;
}
.dark-mode-home .icons-container ul li a {
  color: #ffffff;
}
.dark-mode-home .button-container button {
  background-color: #141414;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
}
.dark-mode-home .button-container button:hover {
  background-color: #ebebeb;
}

.dark-mode-home .text-projects {
  color: white;
}

.dark-mode-home .text-description p {
  color: white;
}

@media (max-width: 768px) {
  .image-container {
    position: relative;
    z-index: 0;
    width: 100%;
    top: auto;
    bottom: auto;
  }

  .image-container img {
    width: 50%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .image {
    flex: 1;
  }
  .text-and-image-container {
    margin-left: 30px;
  }

  .icons-container {
    flex: 0 0 50px;
  }

  .icons-container ul li {
    font-size: 25px;
    margin-left: -180px;
  }
}

@media screen and (min-width: 1200px) {
  .icons-container ul li {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .dashboard-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .dashboard-projects img {
    width: 425px;
    height: 280px;
  }
  iframe {
    width: 425px;
    height: 300px;
    max-width: 100%;
  }

  .card-projects {
    width: 90%;
    margin-bottom: 20px;
  }

  .projects-content-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .text-description p {
    font-size: 13px;
    margin-top: -90px;
    margin-left: -40px;
  }
  .card-projects img {
    width: 100%;
    height: auto;
  }
}
