@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.home-container {
  display: flex;
  flex-direction: column;
}
.text-and-image-container {
  display: flex;
  text-align: justify;
  width: 80%;
  margin-left: 4%;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.gray-background {
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100vh;
  background-color: #e5e3e3;
  z-index: -1;
}

.content-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.icons-container {
  display: flex;
  flex-direction: column;
}

.icons-container ul {
  list-style: none;
  padding: 0;
}

.icons-container ul li {
  font-size: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

.icons-container ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.button-container {
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 100px;
}
.button-container button {
  padding: 10px 20px;
  background-color: white;
  color: #000000;
  border: 1px solid black;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #ebebeb;
}

.image-container {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.centered-image {
  width: 80%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
