.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  padding-top: 13px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.my-navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.my-navbar .logo {
  margin-right: 10px;
}

.my-navbar .logo img {
  width: 80px;
}

.my-navbar .dark-mode-icon {
  cursor: pointer;
}

.my-navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.my-navbar .nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  cursor: pointer;
}

.my-navbar .nav-links li a:hover {
  color: #ff0000;
}
