.projects-container {
  min-height: 100vh;
  margin: 0; 
}
.dark-mode-projects {
  background-color: #141414;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  margin-top: 20px;
  margin-left: 60px;
  gap: 0.5%;
}

.card-projects {
  margin-bottom: 20px;
}

.button-see {
  border: none;
  background-color: black;
  color: white;
}

.text-projects {
  margin: 40px 60px;
}

.dark-mode-projects .text-projects {
  color: white;
}
