.footer-container {
  background-color: #13131F;
  color: white;
  border-top: 1px solid#9747FF;
  font-size: 10px;
  font-family: arial;
  padding: 10px 0; 
  text-align: center; 
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
