.footer-container {
  background-color: #1a1a1a;
  color: white;
  font-size: 10px;
  font-family: arial;
  padding: 10px 0; 
  text-align: center; 
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
